

body {
    margin: 0;
    background: linear-gradient(#374151, #070707);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}


#catext {
    color: white;
    font-size: 60px;
}

#rptext {
    color: #2bbbdf;
    font-size: 60px;
}

.title {
    margin: 0px;
    line-height: 10px;
    margin-bottom: 10px;
}

#desc {
    line-height: 10px;
    color: lightgray;
    margin-bottom: 20px;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-bottom: 1px solid white;
}

.ipt {
    width: 60px;
    height: 20px;
    padding: 5px 2px;
    margin-bottom: 5px;
    background-color: #374151;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold ;
    transition: 0.25s;
}

.ipt:hover {
    box-shadow: 0px 0px 5px #2bbbdf;
}

#genbtn {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background-color: #2bbbdf;
    color: white;
    text-shadow: 0px 0px 1px black;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.25s;
}

#genbtn:hover {
    box-shadow: 0px 0px 5px white;
    transform: scale(1.04);
}

.password-display {
    color: white;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 0px;
}   

.output {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 4px;
    background-color: #374151;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.25s;
}

.output:hover {
box-shadow: 0px 0px 5px #2bbbdf;
}

.generated-password {
    color: #2bbbdf;
}

.btn {
    color: white;
    text-shadow: 0px 0px 1px black;
    background-color: #2bbbdf;
    padding: 5px 10px;
    border: 1px solid #2bbbdf;;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.25s;
}

.btn:hover {
    box-shadow: 0px 0px 5px white;
}

#resetbtn {
    color: #2bbbdf;
    text-shadow: 0px 0px 1px black;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.25s;
}

#resetbtn:hover {
    box-shadow: 0px 0px 5px white;
}


